@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@base-font-family: 'Montserrat', sans-serif;

// theme colors
@white: #FFF;
@cyan: #34e0de;
@grey: #4a4a4a;
@black: #2c2c2c;
@pink:  #c374d0;
@blue: #3892e3;
@green: #758365;
@dark-green: #474C40;

.centered-div(@width: 0, @height: 0) {
    width: @width;
    height: @height;
    top: 50%;
    left: 50%;
    margin: -(@height/2) 0px 0px -(@width/2);
    position:absolute;
}

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    -webkit-transition: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

html, body {
    height: 100%;
}

body {
    font-family: @base-font-family;
    margin: 0;
}

a {
    color: #0077D9;
    cursor: pointer;
}

#container {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -37px;
    padding: 0;
}

#logout {
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 100;
    a {
        font-size: 70%;
    }
}

#container {

    @menu-width: 280px;
    @menu-speed: 0.3s;
    #menuLink {
        text-indent: -10000px;
        display: block;
        height: 30px;
        width: 20px;
        position: absolute;
        z-index: 100;
        &.menu-link-off {
            left: 10px;
            top: 10px;
        }
        &.menu-link-active {
            right: 10px;
            top: 10px;
        }
        .icon-bar {
            margin-top: 3px;
            display: block;
            width: 18px;
            height: 2px;
            background-color: #f5f5f5;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        }
    }
    #menu {
        margin-left: -@menu-width; /* "#menu" width */
        width: @menu-width;
        position: fixed;
        top: 0;
        left: -@menu-width;
        bottom: 0;
        z-index: 1000; /* so the menu or its navicon stays above all content */
        background: #3d4047;
        overflow-y: auto;
        -webkit-transition: all @menu-speed ease-out;
        -moz-transition: all @menu-speed ease-out;
        -ms-transition: all @menu-speed ease-out;
        -o-transition: all @menu-speed ease-out;
        transition: all @menu-speed ease-out;
        &.active{
            left: @menu-width;
            width: @menu-width;
        }
        h4 {
            color: #FFF;
            font-weight: lighter;
            margin: 5px;
        }
        .option {
            padding: 15px;
        }
        .theme-options {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: block;
                float: left;
                margin: 5px;
                padding: 0;
                &.selected {
                    background-color: #9e9fa3;
                }
            }
            .theme-option {
                display: block;
                width: 40px;
                height: 40px;
                margin: 5px;
                cursor: pointer;
                span {
                    display: block;
                    height: 20px;
                    width: 40px;
                }
                &.white-cyan {
                    .top {
                        background-color: @white;
                    }
                    .bottom {
                        background-color: @cyan;
                    }
                }
                &.grey-black {
                    .top {
                        background-color: @grey;
                    }
                    .bottom {
                        background-color: @black;
                    }
                }
                &.white-pink {
                    .top {
                        background-color: @white;
                    }
                    .bottom {
                        background-color: @pink;
                    }
                }
                &.white-blue {
                    .top {
                        background-color: @white;
                    }
                    .bottom {
                        background-color: @blue;
                    }
                }
                &.white {
                    .top {
                        background-color: @white;
                    }
                    .bottom {
                        background-color: @white;
                    }
                }
                &.blue {
                    .top {
                        background-color: @blue;
                    }
                    .bottom {
                        background-color: @blue;
                    }
                }
                &.black {
                    .top {
                        background-color: @black;
                    }
                    .bottom {
                        background-color: @black;
                    }
                }
                &.green {
                    .top {
                        background-color: @green;
                    }
                    .bottom {
                        background-color: @green;
                    }
                }
            }
        }
    }

    #todo {
        opacity: 0;
    }
    .title {
        padding-top: 60px;
    }
    h2 {
        text-transform: capitalize;
        margin: 0;
        font-size: 300%;
        font-weight: bold;
        padding-bottom: 20px;
    }
    #todayContainer, #tomorrowContainer {
        text-align: center;
    }
    #todayContainer {
        background-color: #FFF;
        .new-todo {
            a {
                color: #D4D4D4;
            }
            .new-input-form {
                input {
                    font-size: 15px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        #todayItemsList {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    #tomorrowContainer {
        background-color: @cyan;
        .new-todo {
            a {
                color: #47918F;
                border-bottom: 1px solid #47918F;
            }
            .new-input-form {
                input {
                    font-family: @base-font-family;
                    font-size: 15px;
                    margin: 0;
                    padding: 0;
                    color: #47918F;
                    background-color: @cyan;
                    border-bottom: 1px solid #47918F;
                }
            }
        }
        #tomorrowItemsList {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding-top: 20px;
                padding-bottom: 20px;
                .edit-container {
                    background-color: @cyan;
                    a {
                        color: #47918f;
                        &:hover {
                            color: #333;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .form-container {
            padding-bottom: 40px;
        }
    }

    .form-container {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 80px;
        display: block;
    }

    .new-todo {
        position: relative;
        a {
            text-decoration: none;
            border-bottom: 1px solid #D4D4D4;
        }
    }

    .new-input-form {
        opacity: 0;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        margin: 0 auto;
        width: 100%;
        z-index: 100;
        input {
            border: 0;
            border-bottom: 1px solid #D4D4D4;
            min-width: 175px;
            font-family: @base-font-family;
            color: #D4D4D4;
            text-align:center;
            &:focus {
                outline: 0;
            }
        }
    }
    .adding {
        .new-input-form {
            opacity: 1;
            position: absolute;
            top: 0;
            margin: 0 auto;
            width: 100%;
            outline: 0;
            height: 30px;
        }
    }

    .description {
        word-break: break-word;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
            user-select: none;
        &.completed {
            text-decoration: line-through;
        }
    }

    .list-item-container {
        position: relative;
        .description {
            position: absolute;
            width: 100%;
        }
        .edit-container {
            position: absolute;
            width: 100%;
            cursor: pointer;
            background-color: #FFF;
            a {
                color: #d4d4d4;
                text-decoration: underline;
                padding-left: 3px;
                padding-right: 3px;
                &:hover {
                    color: #888888;
                    text-decoration: underline;
                }
            }
        }
    }
}

#loading {
    .centered-div(200px, 50px);
    text-align: center;
}

#connect {
    .centered-div(200px, 50px);
    text-align: center;
    opacity: 0;
    img {
        display: block;
        margin: 0 auto;
    }
    #connectLink {
        display: block;
        margin-top: 15px;
        cursor: pointer;
    }
    #connectImage {
        cursor: pointer;
    }
}

#footer {
    position: absolute;
    right: 0;
    height: 17px;
    color: #333333;
    padding: 10px;
    font-size: 75%;
    z-index: 100;
    a {
        color: #333333;
    }
}


@media @tablet {
    h2 {
        font-size: 90%;
    }
}

@media @mobile {
    h2 {
        font-size: 75%;
    }
}

/* themes */
#todo {
    &.white-cyan {
        #todayContainer {
            background-color: @white;
        }
        #tomorrowContainer {
            background-color: @cyan;
        }
    }
    &.grey-black {
        #todayContainer {
            background-color: @grey;
        }
        #tomorrowContainer {
            background-color: @black;
        }
    }
    &.white-pink {
        #todayContainer {
            background-color: @white;
        }
        #tomorrowContainer {
            background-color: @pink;
        }
    }
    &.white-blue {
        #todayContainer {
            background-color: @white;
        }
        #tomorrowContainer {
            background-color: @blue;
        }
    }
    &.white {
        #todayContainer {
            background-color: @white;
        }
        #tomorrowContainer {
            background-color: @white;
        }
    }
    &.blue {
        #todayContainer {
            background-color: @blue;
        }
        #tomorrowContainer {
            background-color: @blue;
        }
    }
    &.black {
        #todayContainer {
            background-color: @black;
        }
        #tomorrowContainer {
            background-color: @black;
        }
    }
    &.green {
        #todayContainer {
            background-color: @green;
            .new-todo {
                .new-input-form {
                    input {
                        background-color: @green;
                    }
                }
            }
            .edit-container {
                background-color: @green;
            }
        }
        #tomorrowContainer {
            background-color: @green;
            .edit-container {
                background-color: @green;
            }
            .new-todo {
                a {
                    color: @dark-green;
                    border-bottom: 1px solid @dark-green;
                }
                .new-input-form {
                    input {
                        color: @dark-green;
                        background-color: @green;
                        border-color: @dark-green;
                    }
                }
            }
            #tomorrowItemsList {
                li {
                    .edit-container {
                        background-color: @green;
                        a {
                            color: @dark-green;
                            &:hover {
                                color: @black;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}